.footer {
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: var(--mantine-color-body);
  border-top: 1px solid var(--mantine-color-default-border);
  margin-top: auto;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoText {
  font-family: "JetBrains Mono", monospace;
  font-size: 13px;
  font-weight: 700;
  color: var(--mantine-color-text);
}

.copyright {
  @media (max-width: 576px) {
    display: none;
  }
}
